---
import Layout from "../layouts/Layout.astro";
import { ReactCounter } from "../components/ReactCounter";
import { VisibleTest } from "../components/VisibleTest";
import SvelteCounter from "../components/SvelteCounter.svelte";
import VueCounter from "../components/VueCounter.vue";
---

<Layout title="Welcome to Astro.">
  <ul>
    <li>
      <span>static</span>
      <ReactCounter />
    </li>
    <li>
      <span>client:load</span>
      <ReactCounter client:load />
    </li>
    <li>
      <span>client:idle</span>
      <SvelteCounter client:idle />
    </li>
    <li>
      <span>client:media</span>
      <VueCounter client:media="(max-width: 680px)" />
    </li>
    <li>
      <span>client:only</span>
      <ReactCounter client:only="react" />
    </li>
    <div style="height: 200vh;">blank</div>
    <li>
      <span>client:visible</span>
      <VisibleTest client:visible />
    </li>
  </ul>
</Layout>

<style></style>
