---
import Layout from "../layouts/Layout.astro";
import { Counter } from "../components/Counter";
---

<Layout title="Welcome to Astro.">
  <ul>
    <li>
      <span>static</span>
      <Counter />
    </li>
    <li>
      <span>client:load</span>
      <Counter client:load />
    </li>
    <li>
      <span>client:idle</span>
      <Counter client:idle />
    </li>
    <li>
      <span>client:media</span>
      <Counter client:media="(min-width: 680px)" />
    </li>
    <li>
      <span>client:visible</span>
      <Counter client:visible />
    </li>
    <li>
      <span>client:only</span>
      <Counter client:only />
    </li>
  </ul>
</Layout>

<style></style>
