---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { word } = Astro.props;
---

<is-land on:interaction>
  <form>
    <button type="button">Hydrate the island</button>
  </form>

  <p>This content is before hydration.</p>

  <template data-island="replace">
    <vanilla-web-component
      >My component content after hydration</vanilla-web-component
    >
  </template>
</is-land>
<style></style>
